Getting establish a series knowledge

In [ ]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2,3,['dog','cat']]
d = list('apple')

Getting how to use tuple benefit

In [ ]:
t = ('apple','banana','orange','grap')
a , b , c , d  = t
print(a)
print(b)
print(c)
print(d)
print(t[0])
print(t[1])
print(t[2])
print(t[3])
t1 =('apple','banana','orange')
t2 = ('grap','pineapple')
t = t1 + t2
print(t)

apple
banana
orange
grap
apple
banana
orange
grap
('apple', 'banana', 'orange', 'grap', 'pineapple')

learning how to use dictionary leave a

In [ ]:
a = dict(name = 'oxxo',age = 18,eat = ['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

learning how to use set

In [48]:
c = set ({'x':1,'y':2,'z':3})
d = set('hello')
print(c)
print(d)

{'z', 'y', 'x'}
{'l', 'o', 'h', 'e'}

learning how to use (goble and location)knowledge

In [ ]:
def test (x,y,z):
  return x+1,y+1,z+1
a = test(1,2,3)
print(a)

Learning how to use(if , else)

In [ ]:
a = 2
b = 3
if a > b:
  print('hello')
else:
  print('world')
print('ok')

world
ok

Learning how to use (if , elif ,else)

In [ ]:
a = 2
b = 3
if a < b:
  print('a < b')
  if a == 1:
    print('a = 1')
  elif a == 2:
    print('a = 2')
  elif a == 3:
    print('a = 3')
elif a > b:
  print('a > b')
else:
  print('a = b')
print('ok')

a < b
a = 2
ok

Learning how to use Logic judgment (and , or)

In [ ]:
a = 2
b = 3
c = 0
if a>b or a<c and a == 2 or b == 4:
  print('ok1')
else:
  print('xxx')

xxx

learning how to use Duplicate(for and while)

In [ ]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')
  i = []
for t in range(10):
  t+= 1
  i.append(t)
i

1
2
3
x
1
2
3
y
1
2
3
z
x1
x2
x3
y1
y2
y3
z1
z2
z3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Exception(try , except),learning how to use input a and a+1 a=?

In [46]:

a = int(input ('pls input here:'))
print(a + 1)
print('hello')

pls input here:13
14
hello

learning how to useexpression add for i in range

In [ ]:
a = []
for i in range(1,10):
  a.append(i*i)
print(a)
b = [j*j for j in range(1,10)]
print(b)